/* General reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling for dark theme */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: #e5e5e5;
    font-family: 'Courier New', Courier, monospace;
}

/* Centering the text in a container */
.centered {
    text-align: center;
}

/* Styling for the "ZDH" text */
h1 {
    font-size: 40px;
    letter-spacing: 2px;
}
