* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: #e5e5e5;
    font-family: 'Courier New', Courier, monospace;
}

.centered {
    text-align: center;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}
